/*
  * Copyright (c) 2020 The ZMK Contributors
  *
  * SPDX-License-Identifier: MIT
  */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp GRAVE         &kp N1            &kp N2        &kp N3     &kp N4         &kp N5                                                                     &kp N6  &kp N7             &kp N8    &kp N9    &kp N0  &kp MINUS
&kp ESCAPE        &kp SINGLE_QUOTE  &kp COMMA     &kp DOT    &kp P          &kp Y   &lt 1 F20                                       &lt 1 F20          &kp F   &kp G              &kp C     &kp R     &kp L   &kp EQUAL
&kp TAB           &kp A             &kp O         &kp E      &kp U          &kp I   &kp LEFT_BRACKET                                &kp RIGHT_BRACKET  &kp D   &kp H              &kp T     &kp N     &kp S   &kp RIGHT_CONTROL
&kp LEFT_SHIFT    &kp SEMICOLON     &kp Q         &kp J      &kp K          &kp X   &kp PAGE_DOWN     &kp PAGE_UP    &kp HOME       &kp END            &kp B   &kp M              &kp W     &kp V     &kp Z   &kp RIGHT_SHIFT
&kp LEFT_CONTROL  &kp LEFT_GUI      &kp LEFT_ALT  &kp SLASH  &kp BACKSLASH          &kp ENTER         &kp DELETE     &kp BACKSPACE  &kp SPACE                  &kp K_APPLICATION  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT
            >;
        };

        layer1 {
            bindings = <
&kp F1  &kp F2           &kp F3       &kp F4                &kp F5                 &kp F6                                                          &kp F7        &kp F8           &kp F9           &kp F10          &kp F11            &kp F12
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE   &trans                                    &trans     &kp SLASH     &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp C_REWIND       &kp C_FAST_FORWARD
&trans  &kp HASH         &kp DOLLAR   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp GRAVE  &kp LEFT_BRACKET                          &trans     &kp ASTERISK  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp K_STOP         &kp C_PLAY
&trans  &kp PERCENT      &kp CARET    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp TILDE  &kp LC(X)         &kp LC(C)    &kp LC(C)  &kp LC(X)  &trans        &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP
&trans  &trans           &trans       &trans                &trans                            &trans            &kp LC(V)    &kp LC(V)  &trans                   &kp KP_NUMBER_0  &kp KP_NUMBER_0  &kp DEL          &kp C_MUTE         &trans
            >;
        };

        layer2 {
            bindings = <
&kp GRAVE         &kp N1            &kp N2        &kp N3     &kp N4         &kp N5                                                                     &kp N6  &kp N7             &kp N8    &kp N9    &kp N0  &kp MINUS
&kp ESCAPE        &kp SINGLE_QUOTE  &kp COMMA     &kp DOT    &kp P          &kp Y   &lt 1 F20                                       &lt 1 F20          &kp F   &kp G              &kp C     &kp R     &kp L   &kp EQUAL
&kp TAB           &kp A             &kp O         &kp E      &kp U          &kp I   &kp LEFT_BRACKET                                &kp RIGHT_BRACKET  &kp D   &kp H              &kp T     &kp N     &kp S   &kp RIGHT_CONTROL
&kp LEFT_SHIFT    &kp SEMICOLON     &kp Q         &kp J      &kp K          &kp X   &kp PAGE_DOWN     &kp PAGE_UP    &kp HOME       &kp END            &kp B   &kp M              &kp W     &kp V     &kp Z   &kp RIGHT_SHIFT
&kp LEFT_CONTROL  &kp LEFT_GUI      &kp LEFT_ALT  &kp SLASH  &kp BACKSLASH          &kp ENTER         &kp DELETE     &kp BACKSPACE  &kp SPACE                  &kp K_APPLICATION  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT
            >;
        };

        layer3 {
            bindings = <
&kp GRAVE         &kp N1            &kp N2        &kp N3     &kp N4         &kp N5                                                                     &kp N6  &kp N7             &kp N8    &kp N9    &kp N0  &kp MINUS
&kp ESCAPE        &kp SINGLE_QUOTE  &kp COMMA     &kp DOT    &kp P          &kp Y   &lt 1 F20                                       &lt 1 F20          &kp F   &kp G              &kp C     &kp R     &kp L   &kp EQUAL
&kp TAB           &kp A             &kp O         &kp E      &kp U          &kp I   &kp LEFT_BRACKET                                &kp RIGHT_BRACKET  &kp D   &kp H              &kp T     &kp N     &kp S   &kp RIGHT_CONTROL
&kp LEFT_SHIFT    &kp SEMICOLON     &kp Q         &kp J      &kp K          &kp X   &kp PAGE_DOWN     &kp PAGE_UP    &kp HOME       &kp END            &kp B   &kp M              &kp W     &kp V     &kp Z   &kp RIGHT_SHIFT
&kp LEFT_CONTROL  &kp LEFT_GUI      &kp LEFT_ALT  &kp SLASH  &kp BACKSLASH          &kp ENTER         &kp DELETE     &kp BACKSPACE  &kp SPACE                  &kp K_APPLICATION  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT
            >;
        };
    };
};
